.titulo-principal{

  
  padding-left: 20px;
  
  }
.alinhamento-center{
  text-align: center;
}


.principal{

  background: #cccccc;
  padding: 30px;
}

#imagen{
  width: 100%;
  
}

p{
  text-align: center;
}

em strong{
  
  color: #ff0000;
}


ul{

  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;

}

.itens{

font-style: italic;


}

.imagenBeneficio{

  width: 50%;
}

.beneficios{

  background: #a9a9a9;
  padding: 20px;

}


#missao{
  font-size: 20px;
}

footer{
  text-align: center;
  background: url("imagens/bg.jpg");

}

.copyright{
  color: #FFFFFF;
  margin: 30px 0 0;
}